.about {
    background-color: $color-FFFFFF;
    color: $color-020109;
    padding: 4rem 0;
    box-shadow: -1px -24px 30px 24px rgba($color-FFFFFF, 1);
    &__container {
        @include content-width();
    }
    &__titlebox {
        width: 80%;
    }
    &__tag {
        @include block-tag($color-020109);
    }
    &__title {
        @include block-title();
    }
    &__body {
        padding-left: 20vw;
        margin-top: 4rem;
    }
    &__text {
        font-size: $size-24px;
        line-height: $size-32px;
    }
    &__values {
        display: flex;
        //justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 4rem;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        &-number {
            font-size: $size-64px;
            line-height: $size-64px;
            font-weight: $fw-660;
            color: $color-1D719D;
        }
        &-text {
            font-size: $size-15px;
            font-weight: $fw-550;
        }
    }
}