@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/leaflet";

@import "../base/reset";
@import "../base/typography";

@import "../components/header";
@import "../components/footer";
@import "../components/screen-blur";

@import "../layout/index/intro";
@import "../layout/index/about";
@import "../layout/index/staff";
@import "../layout/index/services";
@import "../layout/index/steps";
@import "../layout/index/cases";
@import "../layout/index/connection";

@media (max-width: 1024px) {
	.services {
		&__item {
			grid-template-columns: repeat(3, 1fr);
		}
		&__imagebox,
		&__icon-wrapper {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.intro {
		&__titlebox {
			flex-direction: column;
			align-items: flex-start;
		}
		&__contentbox {
			display: flex;
			align-items: flex-start;
		}
        &__video-wrapper {
            display: none;
        }
        &__slogan {
            translate: 0 -50%;
        }
	}
	.about {
		&__body {
			padding-left: 0;
		}
        &__text {
            font-size: 1rem;
            line-height: 1.5rem;
        }
		&__values {
			&-item {
				align-items: flex-start;
			}
			&-number {
				font-size: $size-48px;
				line-height: $size-48px;
			}
		}
	}
    .staff {
        &__container {
            display: block;
        }
        &__title-container {
            position: static;
        }
        &__image-wrapper {
            display: none;
        }
    }
	.services {
        &__titlebox {
            width: 100%;
        }
		&__name {
			font-size: 1rem;
		}
	}
	.cases {
		&__container {
			display: block;
		}
		&__mapbox {
			display: none;
		}
	}
    .connection {
        &__inputbox {
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width: 560px) {
    .intro {
        &__slogan {
            &-title {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
            &-subtitle {
                word-spacing: normal;
                gap: 1rem;
            }
        }
    }
	.cases {
		&__desc {
            margin-top: 1rem;
			grid-column: span 2;
		}
	}
}
