// Sizes
$size-12px: 0.75rem;
$size-13px: 0.8125rem;
$size-14px: 0.75rem;
$size-15px: 0.9375rem;
$size-16px: 1rem;
$size-18px: 1.125rem;
$size-24px: 1.5rem;
$size-32px: 2rem;
$size-40px: 2.5rem;
$size-48px: 3rem;
$size-56px: 3.5rem;
$size-64px: 4rem;
$size-72px: 4.5rem;
$size-96px: 6rem;
$size-128px: 8rem;

// Colors
$color-FFFFFF: #FFFFFF;
$color-D6D0C6: #D6D0C6;
$color-1D719D: #1D719D;
$color-063968: #063968;
$color-020109: #020109;

// Typography
$base-fs: 16px;
$line-height: 150%;
$font-weight: 660;

$duration: 0.5s;