* {
	padding: 0;
	margin: 0;
	border: 0;
	cursor: default;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:active {
	outline: none;
}

a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button,
a {
	color: inherit;
	font-weight: inherit;
	cursor: pointer;
	font-size: inherit;
	background: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	width: fit-content;
	height: fit-content;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
}

html {
	width: 100%;
}

body {
	position: relative;
	scrollbar-gutter: stable;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	background: repeating-linear-gradient(to right, rgba($color-020109, 1), rgba($color-020109, 1) 300px, rgba($color-020109, 0.97) 1px, rgba($color-020109, 0.97) 301px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&.block-scroll {
		background-color: rgba($color-020109, 1);
		overflow-y: scroll;
	}
}
