.docs {
    &__container {
        @include content-width();
    }
    &__title {
        @include block-title();
    }
    &__slider-wrapper {
        padding: 6rem 0;
    }
    &__slide {
        max-width: 17.5rem;
        aspect-ratio: 1/1;
        padding: 2rem 1rem;
        border: $size-1-25px solid rgba($color-D6D0C6, 0.5);
        border-left: none;
        border-right: none;
        transition: $duration;
        &:hover {
            translate: 0 -10%;
            & .docs__slide-link {
                max-height: 2rem;
            }
        }
        &-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 40% 40% auto;
            align-self: center;
            & > * {
                justify-self: center;
                align-self: center;
            }
        }
        &-title {
            text-wrap: wrap;
            text-align: center;
            text-transform: uppercase;
            font-size: $size-14px;
            font-weight: $fw-750;
        }
        &-icon {
            font-size: $size-48px;
        }
        &-link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: $color-AAA8AC;
            font-size: $size-14px;
            max-height: 0;
            overflow: hidden;
            transition: $duration;
            & i {
                pointer-events: none;
            }
        }
    }
    &__footer {
        width: 100%;
        @include flex-center();
        gap: 1rem;
        padding: 2rem;
    }
    &__nav-icon {
        cursor: pointer;
        font-size: $size-12px;
        transition: $duration;
        &--prev {
            rotate: -130deg;
        }
        &--next {
            rotate: 45deg;
        }
        &.disable {
            opacity: 0.5;
            scale: 0.8;
        }
    }
}